.DS_Store
.vscode/
.vscode/c_cpp_properties.json
.vscode/settings.json
.idea/
*.png
sequential
mpi_static
hybrid
omp 
mpi_dynamic
mpi_static_debug
hybrid_debug
omp_debug
mpi_dynamic_debug
mpi_static_time
mpi_dynamic_time
omp_time
hybrid_time